html { height: 100%; }
body { margin: 0; height: 100%; }

.firepad-userlist {
  position: absolute; left: 0; top: 30; bottom: 0; height: auto;
  width: 175px;
}
.firepad {
  position: absolute; left: 175px; top: 30; bottom: 0; right: 0; height: auto;
}
