<html>
	<head>
  <title>Remotimoto</title>

		<link rel="stylesheet" href="/css/firepad/firepad.css">
		<link rel="stylesheet" href="/css/firepad/firepad-userlist.css">
		<link rel="stylesheet" href="/css/codemirror/codemirror.css">
		<link rel="stylesheet" href="/css/editor.css">
		<link rel="stylesheet" href="/css/jqueryFileTree/jqueryFileTree.css">

		<script src="/js/jquery.js"></script>

		<script src="/js/codemirror/codemirror.js"></script>
		<script src="/js/codemirror/loadmode.js"></script>
		<script src="/js/codemirror/mode_meta.js"></script>

	    <script src="https://cdn.firebase.com/js/client/1.0.11/firebase.js"></script>
		<script src="/js/firepad/firepad.js"></script>
		<script src="/js/firepad/firepad-userlist.js"></script>

		<script src="/js/jqueryFileTree/jqueryFileTree.js"></script>

		<script src="/js/editor.js"></script>
	</head>

	<body>
          <div id='editor' class='editor'>
          <div id='editor-header' class='editor-header'>
      <!-- Syntax highlight selection pulldown -->
          <div id="langmode">
            <select id="mode-selector"></select>
          </div>

      <!-- Filename that is atop the main editing area -->
          <div class="active-filename">
        <span id="active-filename-content"></span>
          </div>
	</div>

      <div id='threecol' class='threecol'>
      <!-- Vertical bar tree of repo/files on the left -->
	  <div id="filetree" class="firepad-filetree"></div>

      <!-- Main editing area -->
	  <div id="firepad"></div>

      <!-- Right side vertical bar; "Guest" accounts, etc. -->
	  <div id="userlist"></div>
</div>
</html>
