<html>
	<head>
		<title>Pair Programming WIP</title>

		<link rel="stylesheet" href="/css/firepad/firepad.css">
		<link rel="stylesheet" href="/css/firepad/firepad-userlist.css">
		<link rel="stylesheet" href="/css/codemirror/codemirror.css">
		<link rel="stylesheet" href="/css/editor.css">
		<link rel="stylesheet" href="/css/jqueryFileTree/jqueryFileTree.css">

		<script src="/js/jquery.js"></script>

		<script src="/js/codemirror/codemirror.js"></script>
		<script src="/js/codemirror/loadmode.js"></script>
		<script src="/js/codemirror/mode_meta.js"></script>

	    <script src="https://cdn.firebase.com/js/client/1.0.11/firebase.js"></script>
		<script src="/js/firepad/firepad.js"></script>
		<script src="/js/firepad/firepad-userlist.js"></script>

		<script src="/js/jqueryFileTree/jqueryFileTree.js"></script>

		<script src="/js/editor.js"></script>
	</head>

	<body>
	  <div id="filetree" class="firepad-filetree"></div>
	  <div id="firepad"></div>
	  <div id="userlist"></div>

	  <div id='langmode'>
	    <p><select id='mode-selector'></select>
	  </div>

	  <div class='active-filename'>
		  <span id='active-filename-content'></p>
	  </div>
	</body>
</html>
